*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner{
    background-color: black;
    color: white;
    padding: 10px;
}


header p span:first-child,header p span:last-child {
    color: deeppink;
}

header p span:nth-child(2),header p span:nth-child(3){
    text-decoration: underline solid 2px deeppink;
}

a{
    text-decoration: none;
    color: black;
}

header nav div{
    display: inline-block;
}

header nav div ul, form{
    display: inline-block;
}

header nav div ul li{
    display: inline-block;
}


header nav div:first-child img{
    height: 20px;
    width: 20px;
}

header nav div:nth-child(2) img{
    height: 10px;
    width: 10px;
}

header nav div:nth-child(2) form:last-child button:first-child{
    background-color: white;
    border: 0.5px solid black;
}

header nav div:nth-child(2) form:last-child button:last-child{
    background-color: black;
    color: white;
}

header nav {
    width: 100%;
}

main div p{
    background-color: gainsboro;
    padding: 3px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
